<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
            <center>
              <img
                src="{% static 'images/image.jpeg' %}"
                alt="avatar"
                class="resposive-image"
                style="max-height: 150px"
              />
            </center>
          </div>
          <div class="col-sm-9">
            <center><h1>Django blog</h1></center>
          </div>
          <div class="col-sm-1">
            {% if user.username %}
              <p>Xin chào {{user.username}}</p>
              <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
            {% else %}
              <p><a href="{% url 'login' %}">Đăng nhập</a></p>
            {% endif %}

          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div class="bs-slide-bar">
              <ul class="nav flex-column">
                <li><a href="/">Thông tin cá nhấn</a></li>
                <li><a href="{% url 'blog' %}">Bài viết</a></li>
                <li><a href="{% url 'contact' %}">Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-10">
            {% block content %} {% endblock%}
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container-fluid">
        <a href="#">Facbook</a>
        <a href="#">Twitter</a>
        <a href="#">Linked</a>
      </div>
    </footer>

    <script src="" async defer></script>
  </body>
</html>
